<!--
  Generated template for the LendCdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>&nbsp;Fermer
      </button>
    </ion-buttons>

    <ion-title>{{ this.cd.titre }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5>Artiste : {{ this.cd.artiste }}</h5>

  <p *ngIf="cd.estDisponible">
    <ion-input type="text" [(ngModel)]="nomEmprunteur" name="nomEmprunteur" placeholder="Nom de l'emprunteur (facultatif)" mode="wp"></ion-input>
    <button ion-button color="danger" (click)="emprunter()">Prêter</button>
  </p>
  <div *ngIf="!cd.estDisponible">
    <p ion-text color="danger">Ce CD a été emprunté par <strong>{{ cd.emprunteur }}</strong></p>
    <p>
      <button ion-button color="secondary" (click)="cd.rendre()">Rendu</button>
    </p>
  </div>
</ion-content>
