<ion-header>

  <ion-navbar>
    <ion-title>Inscription</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <span *ngIf="errorMessage" ion-text color="danger">Erreur FireBase : {{ errorMessage }}</span>
    <ion-list>
      <ion-item>
        <ion-label floating>Adresse mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Mot de passe</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <span ion-text *ngIf="userForm.controls.password.errors && userForm.controls.password.errors.minlength" color="danger">
        Le mot de passe doit faire au moins 6 caractères
      </span>
    </ion-list>
    <button ion-button full type="submit" [disabled]="!userForm.valid">
      <ion-spinner *ngIf="showSpinner" name="crescent" class="white" margin-right></ion-spinner>
      Inscription
    </button>
  </form>
</ion-content>
