<!--
  Generated template for the CdListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste des CD</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let cd of this.cds" (click)="cdSelected(cd)" [ngClass]="{ 'indisponible': !cd.estDisponible }">
      {{ cd.titre }}<br>
      <i>{{ cd.artiste }}</i><br>
      {{ (cd.estDisponible) ? "Disponible" : "Emprunté par " + cd.emprunteur }}
    </button>
  </ion-list>
</ion-content>
